@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&family=Fredoka+One&family=Patrick+Hand&family=Special+Elite&display=swap');

.body{
    position: relative;
    background-color:rgb(21, 47, 95) ;
    background-image: url(./01.webp);
    height: 90vh;
    margin: 0;
    padding: 0;
}

.inicio{
    height: auto;
    justify-content: center;
    
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-direction: column;
    /* width: 600px; */
    height: 300px;
    margin: 2rem;
    padding: 4rem;
}


.conteiner_titulo{
    font-family: 'Patrick Hand', cursive;
    align-content: flex-start;
    text-align: center;
    text-shadow: 0 0.125rem 0.5rem yellowgreen;
    justify-content: center;
    color:#faf4f4;
    font-size: 4rem;
}

.container_button {
    justify-content: center;
    font-size: 1.5rem;
    color: yellowgreen;
    background-color:white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 0.125rem 0.25rem yellowgreen;
    background-color: transparent;
}

.container_button:hover {
    transform: scale(1.25);
    transition-duration: 1s;
    transition-timing-function: ease-out;
    cursor: pointer;
}

.footer{
    position: absolute;
    display:flex;
    bottom: 0;
    left: 10px;
}

.footer_content{
font-family: 'Special Elite', cursive;
color: #faf4f4 ;
margin-bottom: 12px;
font-weight:normal;
}

@media (max-width:500px){
    .conteiner_titulo{
        font-size: 3rem;
        
}

.footer_content{
    font-size: 0.8em;
    }

}
